.breadcrumb {
    font-size: 14px;
    margin: 10px auto 5px auto;
    /* căn giữa */
    max-width: 1310px;
    /* cùng độ rộng với content */
    padding-left: 15px;
    /* căn lề trái đều */
    padding-right: 15px;
}


.breadcrumb a {
    color: #26282a;
    text-decoration: none;
    font-weight: 500;
    /* chữ đậm hơn một chút */

}

.breadcrumb a:hover {
    text-decoration: underline;
    text-decoration: none;
    /* vẫn không gạch chân */

}

.breadcrumb span {
    color: #555;
}